@*
@{
    //Layout = null;
}

@model TestFinal.Models.Review

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h3>Add Review 4MOVING Club</h3>
    <form method="post" asp-controller="review" asp-action="add">
        <table>
            <tr>
                <td>Name</td>
                <td>
                    <input type="text" asp-for="Nume" />
                </td>
            </tr>
            <tr>
                <td>Note</td>
                <td>
                    <input type="text" asp-for=" Nota" />
                </td>
            </tr>
            <tr>
                <td>Comment</td>
                <td>
                    <input type="text" asp-for="Comentariu" />
                </td>
            </tr>

            <tr>
                <td>&nbsp;</td>
                <td>
                    <input type="submit" value="Add" />
                </td>
            </tr>
        </table>

    </form>
</body>
</html>
*@